@use '../../utilities/variables' as var;

.inpt {
    padding: 0 0.5rem;
    box-sizing:    border-box;
    border:        none;
    border-radius: 5px;

    background-color: var.$color-bg-light;

    color:       var.$color-primary-dark;
    font-family: 'Roboto', sans-serif;
    font-size:   0.875rem;
}